<%- include("header", { title: title }); %>
<div class="hero">
    <div class="hero-content">
        <div class="columns">
            <div class="column">
                <h1>Your labels</h1>
                <form action="" method="GET" id="boxForm">
                    <select name="box" id="box" style="padding: 10px; font-size: 16px;">
                        <option value="" disabled selected>Select a box</option>
                        <% for (let box of boxes) { %>
                            <option value="<%= box.id %>"><%= box.boxName %></option>
                        <% } %>
                    </select>
                    <button type="button" onclick="redirectToBox()" style="padding: 10px 20px; font-size: 16px; margin-left: 10px;">Go</button>
                </form>
            </div>

            <div class="column">
                <h1>View content</h1>
                <p>Choose a box to view its content</p>
                <form id="contentForm" action="" method="GET">
                    <select name="box" id="contentBox" style="padding: 10px; font-size: 16px;">
                        <option value="" disabled selected>Select a box</option>
                        <% for (let box of boxes) { %>
                            <option value="<%= box.id %>"><%= box.boxName %></option>
                        <% } %>
                    </select>
                    <button type="button" onclick="redirectToContent()" style="padding: 10px 20px; font-size: 16px; margin-left: 10px;">View Content</button>
                </form>
            </div>

            <div class="column">
                <h1>Boxes shared with me</h1>
                <form id="sharedBoxesForm" action="" method="GET">
                    <select name="sharedBox" id="sharedBox" style="padding: 10px; font-size: 16px;">
                        <option value="" disabled selected>Select a shared box</option>
                        <% for (let box of sharedBoxes) { %>
                            <option value="<%= box.box_id %>"><%= box.box_name %></option>
                        <% } %>
                    </select>
                    <button type="button" onclick="redirectToSharedBox()" style="padding: 10px 20px; font-size: 16px; margin-left: 10px;">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>



<script>
    function redirectToBox() {
        const selectElement = document.getElementById('box');
        const selectedValue = selectElement.value;
        if (selectedValue) {
            window.location.href = `/boxes/${selectedValue}`; // Navigate to the box's page
        } else {
            alert('Please select a box');
        }
    }

    function redirectToContent() {
        const selectElement = document.getElementById('contentBox');
        const selectedValue = selectElement.value;
        if (selectedValue) {
            window.location.href = `/box-content/${selectedValue}`; 
        } else {
            alert('Please select a box');
        }
    }

    function redirectToSharedBox() {
        const selectElement = document.getElementById('sharedBox');
        const selectedValue = selectElement.value;
        if (selectedValue) {
            window.location.href = `/box-content/${selectedValue}`; // Navigate to the shared box's content page
        } else {
            alert('Please select a shared box');
        }
    }
</script>